@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* (* - entire HTML elements with this font family) */
*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044E5;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}

@keyframes brand-slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-brand-slide {
  animation: brand-slide 25s linear infinite;
  display: flex;
  width: max-content;
}