@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* (* - entire HTML elements with this font family) */
*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044E5;
}